<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>EJERCICIOS DE PRACTICA</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--JQUERY UI PARA AUTOCOMPLETAR-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body class="bg-light">

    <header class="encabezado">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Pagina Principal</li>
            </ol>
        </nav>

        <h1 class="encabezado__titulos display-4">PROYECTO SEGUNDA ENTREGA ENTREGA</h1>

    </header>

    <main>

        <section>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Informacion solicitada</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Path de ejecución</td>
                            <td>{{excPath}}</td>
                        </tr>
                        <tr>
                            <td>Nombre de la plataforma</td>
                            <td>{{os}}</td>
                        </tr>
                        <tr>
                            <td>Process ID</td>
                            <td>{{processID}}</td>
                        </tr>
                        <tr>
                            <td>Versión de Node.js</td>
                            <td>{{nodeVs}}</td>
                        </tr>
                        <tr>
                            <td>Carpeta del proyecto</td>
                            <td>{{carpeta}}</td>
                        </tr>
                        <tr>
                            <td>CANTIDAD DE CPU</td>
                            <td>{{cantCpu}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </section>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; <a href="#" target="_blank">EJERCICIOS DE PRACTICA</a></span>
                </div>
            </div>
        </footer>
    </main>
    <!--JAVASCRIPT LADO DEL CLIENTE-->
    <script src="./index.js"></script>
    <!--BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>